html
    head
        title a spoopy tale | a browser-based spoopy text game
        script(src='js/jquery.min.js')
        script(src='js/sweetalert.min.js')
        script(src='js/spoopy.client.js')

        link(rel='stylesheet', href='css/client.css')
        link(rel='stylesheet', href='css/sweetalert.css')

    body
        div(class='wrap')
            div(class='left')
                div(id='timer')
                    p -

            div(class='main')
                div(class='load')