@mixin transition($vals) {
    -webkit-transition: $vals;
    -moz-transition: $vals;
    -o-transition: $vals;
    transition: $vals;
}

.button-large {
    color: grey;
    border: 1px solid;
    text-align: center;
    width: 375px;
    margin: 10px auto;
    padding: 5px;

    @include transition(all 0.45s ease-in-out);

    &:hover {
        color: white;
    }
}

.button-small {
    color: grey;
    text-align: center;
    margin: 5px auto;
    text-decoration-style: dashed;
    text-decoration-line: underline;

    @include transition(all 0.25s ease-in-out);

    &:hover {
        color: white;
    }
}

.button-inactive {
    color: grey;
    text-align: center;
}